{% if messages %}
	{% for message in messages %}
		<script>alert("{{ message }}")</script>
	{% endfor %}
{% endif %}
<form action="{% url 'joseon:down_comment' %}" method='POST'>
  {% csrf_token %}
  {% if request.user in reply.down.all %}
    <button type="submit" class="reply_down joseon_detail_comment_btn" value1="{{ reply.id }}" value2="reply">
			<span style="color:#006399"><i class="fas fa-long-arrow-alt-down"></i></span>
		</button>
		<span class="joseon_detail_comment-btn-count" style="color:#006399">{{ reply.down.all.count }}</span>
  {% else %}
    <button type="submit" class="reply_down joseon_detail_comment_btn" value1="{{ reply.id }}" value2="reply">
			<span><i class="fas fa-long-arrow-alt-down"></i></span>
		</button>
		<span class="joseon_detail_comment-btn-count">{{ reply.down.all.count }}</span>
  {% endif %}
</form>
