{% if messages %}
	{% for message in messages %}
		<script>alert("{{ message }}")</script>
	{% endfor %}
{% endif %}
<form action="{% url 'joseon:add_shield' %}" method="POST">
	{% csrf_token %}
	{% if request.user in post.shield.all %}
		<button type="submit" id="shield" value="{{ post.id }}" class="joseon_detail_btn">
			<span style="color:#006399" title="방패"><i class="fas fa-shield-alt"></i></span>
		</button>
		<span class="joseon_detail-btn-count" style="color:#006399">{{ get_total_shield }}</span>
	{% else %}
		<button type="submit" id="shield" value="{{ post.id }}" class="joseon_detail_btn" >
			<span><i class="fas fa-shield-alt" title="방패"></i></span>
		</button>
		<span class="joseon_detail-btn-count">{{ get_total_shield }}</span>
	{% endif %}
</form>
