{% if messages %}
	{% for message in messages %}
		<script>alert("{{ message }}")</script>
	{% endfor %}
{% endif %}
<form action="{% url 'reality:recommend' %}" method="POST">
  {% csrf_token %}
  {% if request.user in post.recommend.all %}
    <button type="submit"  id="recommend" value="{{ post.id }}" style="color:red;">Recommend</button> {{ post.all_recommend }}
  {% else %}
    <button type="submit"  id="recommend" value="{{ post.id }}">Recommend</button> {{ post.all_recommend }}
  {% endif %}
</form>
