<div class="nav-btn">
  <div class="nav-links">
    <ul>
      <li class="nav-link" id="Home">
        <a href="{% url 'core:home' %}" style="font-family:Noto_Serif_KR_Medium;">Home</a>
      </li>
      <li class="nav-link white">
        <a href="#">조선시대</a>
        <div class="dropdown">
          <ul>
            <li class="dropdown-link orange">
              <a href="{% url 'joseon:politics_list' %}">정치</a>
            </li>
            <li class="dropdown-link orange">
              <a href="{% url 'joseon:economy_list' %}">경제</a>
            </li>
            <li class="dropdown-link orange">
              <a href="{% url 'joseon:society_list' %}">사회</a>
            </li>
            <li class="dropdown-link orange">
              <a href="{% url 'joseon:world_list' %}">세계</a>
            </li>
            <li class="dropdown-link pink">
              <a href="{% url 'joseon:ideology_list' %}">이념</a>
            </li>
            <li class="dropdown-link pink">
              <a href="{% url 'joseon:philosophy_list' %}">철학</a>
            </li>
            <li class="dropdown-link green">
              <a href="{% url 'joseon:love_list' %}">연애</a>
            </li>
            <li class="dropdown-link green">
              <a href="{% url 'joseon:BAI_list' %}">사간의 글</a>
            </li>
            <li class="dropdown-link">
              <a href="{% url 'joseon:secret_list' %}">비밀게시판</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-link" id="Crazylab">
        <a href="#" style="font-family:Noto_Serif_KR_Medium;">CrazyLab</a>
        <div class="dropdown">
          <ul>
            <li class="dropdown-link purple">
              <a href="{% url 'crazylab:publicidea_list' %}">공공아이디어</a>
            </li>
            <li class="dropdown-link orange">
              <a href="{% url 'crazylab:todayidea_list' %}">오늘의아이디어</a>
            </li>
            <li class="dropdown-link pink">
              <a href="{% url 'crazylab:crazyidea_list' %}">크레이지아이디어</a>
            </li>
            <li class="dropdown-link purple">
              <a href="{% url 'crazylab:publicidea_list' %}">질문을 던지는자</a>
            </li>
            <li class="dropdown-link purple">
              <a href="{% url 'crazylab:publicidea_list' %}">문제를 제기하는 자</a>
            </li>
            <li class="dropdown-link purple">
              <a href="{% url 'crazylab:publicidea_list' %}">시스템의 구멍을 찾는자</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-link pink">
        <a href="{% url 'reality:poetry_list' %}">시</a>
      </li>
      <li class="nav-link pink">
        <a href="{% url 'crazylab:publicidea_list' %}">소설</a>
      </li>
      <li class="nav-link green">
        <a href="{% url 'joseon:politics_list' %}">스포츠</a>
      </li>
      <li class="nav-link green">
        <a href="{% url 'crazylab:publicidea_list' %}">정보</a>
      </li>
      <li class="nav-link orange">
        <a href="{% url 'joseon:politics_list' %}">사진</a>
      </li>
      <li class="nav-link pink">
        <a href="{% url 'crazylab:publicidea_list' %}">그림</a>
      </li>
      <li class="nav-link blue">
        <a href="{% url 'joseon:politics_list' %}">독백</a>
      </li>
      <li class="nav-link green">
        <a href="{% url 'crazylab:publicidea_list' %}">상담</a>
      </li>
      <li class="nav-link pink">
        <a href="{% url 'joseon:politics_list' %}">독후감</a>
      </li>
      <li class="nav-link">
        <a href="{% url 'crazylab:publicidea_list' %}">내지역</a>
        <div class="dropdown">
          <ul>
            <li class="dropdown-link blue">
              <a href="{% url 'joseon:politics_list' %}">소식</a>
            </li>
            <li class="dropdown-link purple">
              <a href="{% url 'crazylab:publicidea_list' %}">고발</a>
            </li>
            <li class="dropdown-link green">
              <a href="{% url 'joseon:politics_list' %}">여행</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-link blue">
        <a href="{% url 'crazylab:publicidea_list' %}">방송</a>
      </li>
      <li class="nav-link blue">
        <a href="{% url 'joseon:politics_list' %}">유머</a>
      </li>
      <li class="nav-link">
        <a href="{% url 'crazylab:publicidea_list' %}">기타</a>
        <div class="dropdown">
          <ul>
            <li class="dropdown-link blue">
              <a href="{% url 'crazylab:publicidea_list' %}">나의 편지</a>
            </li>
            <li class="dropdown-link blue">
              <a href="{% url 'joseon:politics_list' %}">착한 일</a>
            </li>
            <li class="dropdown-link green">
              <a href="{% url 'crazylab:publicidea_list' %}">감사한 일</a>
            </li>
            <li class="dropdown-link blue">
              <a href="{% url 'joseon:politics_list' %}">색다른 심판</a>
            </li>
            <li class="dropdown-link">
              <a href="{% url 'crazylab:publicidea_list' %}">자유게시판</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>
